# dependencies
node_modules
.pnpm-store

# next.js
.next
out
build
dist

# misc
.DS_Store
*.pem
.turbo

# env
.env
.env*.local

# logs
npm-debug.log*
pnpm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# anchor / solana / rust
target
**/*.so
test-ledger
.anchor
**/*.rs.bk
Cargo.lock.orig
